.letters {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: solid 1px blue;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
.letters:hover{
    border: solid 1px red;
    background-color: red;
    color: white;
}

.form-group{
    text-align: center
}

#AG {
    border-collapse: separate;
    table-layout:auto;  
    margin: auto;
    font-size: 20px
  }

#AG td, #AG th {
    border-bottom: 2px solid #ddd;
    padding: 4px;
  }

#AG th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(76, 91, 175);
    color: white;
  }